*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.5;
}


.header{
    background-color: #161616;
    color: #ffffff;
    text-align: center;
    padding: 50px 0;
}

.header h1{
    font-size: 5rem;
    margin-bottom: 10px;
}

.header p{
    font-size: 1.2rem;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 40px;
    height: 100vh;
}

.box {
    background-color: #edecf1;
    margin: 10px;
    width: 60%;
    text-align: justify;
    border: solid black;
    padding: 50px;
}

#h2 {
    text-align: center;
    padding: 20px;
}

.footer {
    background-color: #161616;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}

.parallax1 {
    background-image: url(https://cdn.pixabay.com/photo/2019/03/04/03/04/yoga-4033228_1280.jpg);
}

.parallax2 {
    background-image: url(https://cdn.pixabay.com/photo/2020/06/10/07/05/yoga-5281457_1280.jpg);
}

.parallax3 {
    background-image: url(https://cdn.pixabay.com/photo/2016/11/23/18/34/woman-1854265_1280.jpg);
}

.parallax4 {
    background-image: url(https://cdn.pixabay.com/photo/2019/06/26/09/52/girl-4300034_1280.jpg);
}

.parallax {
    height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.content{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
}

.content1{
    background-image: url(Healthy\ habit-pana.svg);
}
.content2{
    background-image: url(Yoga\ practice-bro.svg);
}
.content3{
    background-image: url(Yoga\ practice-pana.svg);
}
.content4{
    background-image: url(Mindfulness-pana.svg);
}

@media(max-width 320px){

}

